*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Coming Soon";
}

body {
    background-color: #f5BE49; 
    padding-top: 100px;
}

.container {
    background-image: url("./assets/Design\ sem\ nome.jpg");
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#ionicons {
    padding: 5px 5px;
}

header {
    display: block;
    align-items: center;
    justify-content: center;
}

header h1 {
    font-size: 40px;
    padding-left: 50px;
} 

#form-contatos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #f5be49;
    margin: 4px;
    padding: 7px;
    border-radius: 7px;
}

form input {
    width: 27%;
    font-size: 1rem;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px;
}

form button {
    background-color: #fff;
    color: #272727;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
    padding: 8px;
    border-radius: 5px;
    transition: all 0.1s ease;
}

form button:hover {
    background-color: #f5be49;
}

.table-container {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

thead {
    background-color: #f5BE49;
}

thead th {
    padding: 16px 0;
    font-size: 18px;
    font-weight: bold;
    border:  1px solid #272727;
}

tbody td {
    padding: 10px 0;
    border: 1px solid #f9f9f9;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}